{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Aplicación RKF</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
</head>
<body>
    <button id="loadData">Cargar Datos</button>
    <div id="data"></div>

    {% include "carga.html" %}


    <script>
        document.getElementById('loadData').addEventListener('click', function() {
            fetch('http://localhost:8000/get_sales_data')
                .then(response => {
                    console.log(response)
                    var compressedData = JSON.stringify(data);
                    var compressedData = LZString.compress(compressedData);
                    localStorage.setItem('ejemplo', compressedData);

                    var retrievedData = localStorage.getItem('ejemplo');
                    var decompressedData = LZString.decompress(retrievedData);
                    var salesData = JSON.parse(decompressedData);

                    document.getElementById('data').innerText = JSON.stringify(salesData, null, 2);
                });
        });
    </script>
</body>
</html>