<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación RKF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Aplicación RKF</h1>
        <div class="mt-5">
            <button id="loadData" class="btn btn-primary">Cargar Datos</button>
        </div>
        <div id="data" class="mt-5"></div>

        {% include "carga.html" %}

        <div class="mt-5">
            <button id="guardarOrden" class="btn btn-primary">Guardar Orden</button>
        </div>
        <div id="order" class="mt-5"></div>
    </div>

    <script>
        document.getElementById('loadData').addEventListener('click', function() {
            fetch('http://localhost:8000/get_sales_data')
                .then(response => response.json())
                .then(data => {
                    var compressedData = JSON.stringify(data);
                    var compressedData = LZString.compress(compressedData);
                    localStorage.setItem('pedido', compressedData);

                    var retrievedData = localStorage.getItem('pedido');
                    var decompressedData = LZString.decompress(retrievedData);
                    var salesData = JSON.parse(decompressedData);

                    document.getElementById('data').innerText = JSON.stringify(salesData, null, 2);
                });
        });
        
        document.getElementById('guardarOrden').addEventListener('click', function() {
            var compressed_orders = localStorage.getItem('pedido');
            var orders = JSON.parse(LZString.decompressFromUTF16(compressed_orders));
        
            $.ajax({
                url: 'orden',
                type: 'post',
                data: { 'orders': localStorage.getItem('pedido') },
                success: function(response) {
                    console.log('Se guardo la orden')
                }
            });
        });
    </script>
</body>
</html>
